# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Database
*.sqlite3
*.db
hotspot.db

# VSCode / IDE
.vscode/
.idea/
